@model IEnumerable<Parcial1.Models.Plataforma>

@{
    ViewData["Title"] = "Index";
}

<h1>Plataformas de videojuegos</h1>

<p>
    <a asp-action="Create" class="btn btn-light">Crear una plataforma</a>
</p>
<form action="@Url.Action("Index","Plataforma")">
    @* <input class="form-control" type="text" name="filtro"> *@
    <input class="form-control" type="text" aria-label="readonly input example" name="filtro" readonlydisabled>
    <hr>
    <button class="btn btn-warning" type="submit">Buscar Plataforma</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa)
            </td>
            
            @if (User.Identity != null && User.IsInRole("Administrador") || User.IsInRole("Operador")|| User.IsInRole("Visualizador")){
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalles</a>
            </td>
            }
            @if (User.Identity != null && User.IsInRole("Administrador") || User.IsInRole("Operador")){
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Borrar</a>
            </td>               
            }
        </tr>
}
    </tbody>
</table>
