@model Parcial1.Models.Videojuego
@{
    ViewData["Title"] = "Delete";
}

<h1>Borrar</h1>

<h3>Estas seguro de que queres borrar este videojuego de la lista?</h3>
<div>
    <hr>
    <h5>Videojuego:</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desarrollador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desarrollador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestriccionEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestriccionEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-dark" /> |
        <a asp-action="Index" class="btn btn-secondary" >Volver a la lista</a>
    </form>
</div>
