@model Parcial1.Models.Videojuego

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <hr>
    <h5>Videojuego:</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desarrollador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desarrollador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RestriccionEdad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RestriccionEdad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
    </dl>
</div>
@foreach (var item in Model.Plataformas)
{
    @item.Nombre
}
<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
